.profile {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.profile div.bg-dark {
    border-radius: 10px;
}

.profile .left {
    height: fit-content;
    max-width: fit-content;
    min-width: fit-content;
    padding: 15px;
}

.profile .right .posts {
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
}

.profile .post {
    margin: 10px;
    min-width: 400px;
    /*max-width: 400px;*/
}

.profile .status {
    max-width: available;
    padding-top: 10px;
}

.profile .photo img {
    border-radius: 10px;
    width: 150px;
}

