.profile-card {
    margin: 30px 0;

    display: flex;

    max-width: 25rem;
    padding: 10px;

    position: relative;
}

.profile-card .info {
    margin: .5rem 1rem;
}

.profile-card .btn {
    position: absolute;
    bottom: 1.1rem;
    right: 1.1rem; /* TODO WHAT!!*/
}


.profile-card img {
    border-radius: 15px;
    border-style: none;

    padding: 5px;
    width: 70px;
}
