.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .5rem;
}

.header ul li {
    list-style: none;
    padding: .5rem;
    border-radius: 3px;
}

.header ul li a {
    text-decoration: none;
    padding: .5rem 1rem;
}

.header ul li:hover {
    background-color: #444;
}

.header ul li a.active {
    color: grey;
}