#root {
  background-color: #181A1B;
  color: lightgrey;
}

.toggle-checkbox {
  margin-left: 10px;
}

.App {
  margin: 0 auto;
  width: 95%;
  display: grid;
  grid-template-areas: "h h" "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 9fr;

  grid-gap: 10px;
}

.App-content {
  background-color: brown;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 10px;
}

input[type="text"] {
  margin-left: 10px;
}
